Repository stanbtkv/gitlab-cicd-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

Добавлены переменные
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Добавлена интеграция с Telegram
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Добавлена стадия debug для отображения переменных
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Добавлены комментарии к задачам пайплайнов
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Исправлены комментарии для стадии test
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Исключены лишние SAST Analyzers
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Удалены пустые и закомментированные строки
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Исправлена загрузка в GitLab Package Registry
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Изменен шаблон для Hеlm-чарта
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  helm/backend/templates/deployment.yaml
Due: backend, frontend

Исправлен publicPath для frontend
  frontend/vue.config.js
Due: frontend

Исправлена ошибка в файле vue.config.js
  frontend/vue.config.js
Due: frontend

Исправлена ошибка Sonarqube Code Coverage
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Изменен порядок выполнения стадий для frontend
  frontend/.gitlab-ci.yml
Due: frontend

Стадии sonarqube-test и test объединены
  frontend/.gitlab-ci.yml
Due: frontend

Включен режим отладки
  frontend/.gitlab-ci.yml
Due: frontend

Исправлен cache key
  frontend/.gitlab-ci.yml
Due: frontend

Исправлена ошибка с cache key
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Исправлен Sonar token
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Изменен порядок стадий
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Исправлены ссылки на репозиторий GitLab
  backend/cmd/api/app/app.go
  backend/cmd/api/app/app_test.go
  backend/cmd/api/app/controller_create_order.go
  backend/cmd/api/app/controller_list_dumplings.go
  backend/cmd/api/dependencies/store.go
  backend/cmd/api/main.go
  backend/cmd/api/router.go
  backend/go.mod
  backend/internal/store/dumplings/fake/store.go
  backend/internal/store/dumplings/mock/store.gen.go
Due: backend

Изменены задачи пайплайна
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Изменен порядок выполнения задач
  backend/.gitlab-ci.yml
Due: backend

Исправлен синтаксис
  backend/.gitlab-ci.yml
Due: backend

Исправлена опечатка
  backend/.gitlab-ci.yml
Due: backend

Добавлен needs
  backend/.gitlab-ci.yml
Due: backend

Отключены тесты
  backend/.gitlab-ci.yml
Due: backend

Исправлена работа с артефактами
  backend/.gitlab-ci.yml
Due: backend

Исправлен порядок задач
  backend/.gitlab-ci.yml
Due: backend

Исправлен путь артефактов
  backend/.gitlab-ci.yml
Due: backend

Проверка build
  backend/.gitlab-ci.yml
Due: backend

Включены тесты
  backend/.gitlab-ci.yml
Due: backend

Исправлены параметры sonarscanner
  backend/.gitlab-ci.yml
Due: backend

Исправлены тесты
  backend/.gitlab-ci.yml
Due: backend

sonar.coverage.exclusions
  backend/.gitlab-ci.yml
Due: backend

Исправлен порядок задач frontend
  frontend/.gitlab-ci.yml
Due: frontend

Исправлено название задачи package
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Исправлена задача package
  frontend/.gitlab-ci.yml
Due: frontend

Убран режим выполнения debug
  backend/.gitlab-ci.yml
Due: backend

Path conditions:
  backend: any of: backend/**/*
  frontend: any of: frontend/**/*
